body {
  background-color: #ccc;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
}

li {
  list-style-type: none;
  margin-right: 10%;
}

.delete {
  padding: 2px;
  margin-left: 20px;
  background-color: #fc5a03;
}

.add-btn {
  color: black;
  border: 1px solid black;
}

input {
  height: 20%;
}
